langchain-core==0.3.0
langchain-openai==0.2.0
langchain-community==0.3.0
GitPython==3.1.43
langchain-text-splitters==0.3.0
langchain-chroma==0.1.4
tavily-python==0.5.0
langgraph==0.2.22
langgraph-checkpoint==1.0.11